@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --background: white;
  --fontColorB: black;
  --fontColorW: white;
  --logoColor: #8c6c4e;
}

.reference {
  position: absolute;
  width: 100%;
  opacity: 0.2;
  inset: 0;
  /* left: 10px; */
  /* top: 175px; */
}

a {
  text-decoration: none;
}

body {
  position: relative;
  background: var(--background);
}

/* nav */
nav {
  position: absolute;
  inset: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 16%;
  z-index: 100;
}
nav > .logo {
  position: fixed;
  width: 155px;
  top: -48px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--logoColor);
  background-image: url("references/logo_nobg.png");
  background-position: 14px 60px;
  background-repeat: no-repeat;
  background-size: 81%;
  left: 8px;
}
nav > div {
  width: 80%;
  padding: 0 43px;
  display: flex;
  gap: 8.1%;
}
nav > div > a {
  position: relative;
  text-wrap: nowrap;
  text-decoration: none;
  opacity: 1;
  color: var(--fontColorB);
  font-size: 0.65em;
  margin-bottom: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
nav > div > a:nth-child(3),
nav > div > a:nth-child(4) {
  transform: translateX(-8px);
  color: var(--fontColorW);
}
nav > div > a:nth-child(5) {
  transform: translateX(-17px);
  color: var(--fontColorW);
}
.navSelected::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  left: -35px;
  background: var(--fontColorB);
}
.navSelected::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  right: -10px;
  background: var(--fontColorB);
}
nav > .siteMover {
  position: fixed;
  left: 65px;
  top: 129px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 0.75em;
  flex-direction: column;
  padding: 0px 5px;
  height: 300px;
  width: 35px;
}
nav > .siteMover > .siteMoverArrows {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
nav > .siteMover > .siteMoverArrows::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  bottom: -30px;
  background: var(--fontColorB);
}
nav > .siteMover > .siteMoverArrows > span:nth-child(1) {
  color: var(--logoColor);
}
nav > .siteMover > .siteMoverArrows > span {
  scale: 1.5;
}
nav > .siteMover > .siteMoverNumbers {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 10px;
}
nav > .siteMover > .siteMoverNumbers > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-black);
  opacity: 0.75;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}
nav > .siteMover > .siteMoverNumbers > a:hover {
  color: var(--logoColor);
}
nav > .siteMover > .siteMoverNumbers > a.selected {
  font-size: 2.1em;
  margin: 15px 0;
  background: var(--background);
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1),
    0 0 40px rgba(0, 0, 0, 0.1);
}
/* nav */

/* hero */
section {
  height: 103dvh;
}
.hero {
  height: 82dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero img {
  width: 65.2%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.hero > div {
  width: 65%;
  padding: 51px 15px 5px 9px;
}
.hero > div > p {
  font-size: 0.96em;
}
.hero > div > h1 {
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 39px;
  letter-spacing: 10.5px;
}
.hero > div > a {
  width: max-content;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 110px;
  font-size: 0.96em;
  color: var(--logoColor);
}
.hero > div > a > span {
  font-size: 0.96em;
  color: var(--logoColor);
}
.hero > div > a::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  left: 38%;
  background: var(--logoColor);
}
/* hero */

/* product sample */
.productSample {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.productSample1::before {
  content: "";
  position: absolute;
  border: 1px solid var(--logoColor);
  width: 46.5%;
  height: 34.2%;
  right: 8.2%;
  transform: translateY(-22px);
}
.productSample2::before {
  content: "";
  position: absolute;
  border: 1px solid var(--logoColor);
  width: 47.5%;
  height: 34.2%;
  left: 8.2%;
  transform: translateY(-3px);
  z-index: 5;
}
.productSample > img {
  position: absolute;
  width: 67.5%;
  top: 17.9%;
  z-index: -1;
}
.productSample2 {
  z-index: -5;
  background: #e7e5e5;
}
.productSample1 > img {
  left: 0;
}
.productSample2 > img {
  right: 0;
  top: 19.5%;
}
.productSample1 > .dataBox {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
  height: 35%;
  transform: translateY(-10%);
}
.productSample2 > .dataBox::after {
  content: "NAVY SALT";
  position: absolute;
  left: 8.2%;
  z-index: 1;
  top: -20px;
  left: 9.8%;
  font-weight: bold;
  letter-spacing: 11px;
  font-size: 1.5em;
  color: #b2b3c1;
  z-index: -10;
}
.productSample2 > .dataBox {
  display: flex;
  justify-content: flex-start;
  min-width: 100%;
  height: 35%;
  transform: translateY(-10%);
}
.productSample2 > .dataBox {
  transform: translateY(0%);
}
.productSample1 > .dataBox > div:nth-child(2) {
  font-size: 0.65em;
  margin-right: 8%;
  padding: 25px;
  padding-top: 40px;
  line-height: 2.75em;
  width: 24.5%;
}
.productSample2 > .dataBox > div:nth-child(1) {
  font-size: 0.65em;
  margin-left: 8%;
  padding: 0;
  padding-left: 50px;
  padding-top: 20px;
  line-height: 2.75em;
  width: 24.5%;
  background: #e7e5e5;
  z-index: -5;
}
.productSample1 > .dataBox > div:nth-child(1) {
  font-size: 1.5em;
  display: flex;
  align-items: flex-end;
  padding-top: 5.2%;
  flex-direction: column;
  color: var(--fontColorW);
}
.productSample2 > .dataBox > div:nth-child(2) {
  font-size: 1.5em;
  display: flex;
  align-items: flex-start;
  padding-top: 4.5%;
  flex-direction: column;
  color: var(--fontColorW);
}
.productSample1 > .dataBox > div:nth-child(1) > h1 {
  letter-spacing: 7.8px;
  padding-right: 22px;
}
.productSample2 > .dataBox > div:nth-child(2) > h1 {
  letter-spacing: 7.8px;
  padding-left: 57px;
}
.productSample1 > .dataBox > div:nth-child(1) > p {
  font-size: 0.635em;
  padding-top: 5px;
  padding-right: 10px;
}
.productSample2 > .dataBox > div:nth-child(2) > p {
  font-size: 0.635em;
  padding-top: 5px;
  padding-left: 140px;
}
.downArrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: -60px;
  width: 10%;
  height: 70px;
  /* background: var(--background); */
  z-index: 10;
}
.productSample1 .downArrow {
  right: 16.4%;
}
.downArrow::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 50px;
  bottom: 10px;
  background: var(--fontColorB);
}
.productSample2 .downArrow {
  /* background: #e7e5e5; */
  left: 16.5%;
  transform: translateY(-5px);
}
/* product sample */

/* TAnner Collections */
.tannerCollection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 272dvh;
}
.tannerCollection > .title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 122px;
  height: 92px;
  width: 100%;
  padding: 0 20.5%;
}
.tannerCollection > .title > h1 {
  font-size: 2.7em;
  letter-spacing: 11px;
}
.tannerCollection > .title > p {
  position: absolute;
  right: 10.5%;
  width: 29%;
  bottom: 0;
  padding: 0 5px;
  font-size: 0.95em;
  background: #c2aa90;
  color: #714439;
  display: flex;
  align-items: center;
}
.tannerCollection > .title > p::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  left: -105px;
  background: #030303;
}
.firstItem {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  height: 450px;
  padding: 12%;
}
.imageBox {
  width: 65%;
  height: 400px;
  display: flex;
  gap: 27px;
  transform: translateY(-120px);
}
.imageBox > img {
  width: 48%;
}
.productdetail {
  width: 45%;
  transform: translateX(78px) translateY(-15px);
}
.firstItem::before {
  content: "01";
  position: absolute;
  top: -4%;
  left: 10.6%;
  letter-spacing: 12px;
  font-weight: 600;
  font-size: 2.5em;
}
.firstItem::after {
  content: "";
  position: absolute;
  top: 2%;
  left: 15.6%;
  width: 100px;
  height: 2px;
  background: #030303;
}
.productdetail > h1 {
  font-size: 1.15em;
  letter-spacing: 5.4px;
}
.productdetail::before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 50px;
  background: #030303;
  transform: translateY(-55px) translateX(3px);
}
.productdetail::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 100px;
  background: #030303;
  transform: translateY(40px) translateX(11px);
}
.productdetail > p {
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 0.602em;
  line-height: 1.55em;
}
.productdetail > a {
  font-size: 0.602em;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #714439;
}
.productdetail > a > span {
  font-size: 0.5em;
}
.productNumber {
  position: absolute;
}
.firstItem > img {
  position: absolute;
  right: 26.5%;
  bottom: 29.7%;
  width: 100px;
}

.secondItem {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondItem::before {
  content: "02";
  position: absolute;
  bottom: -15%;
  left: 46%;
  letter-spacing: 12px;
  font-weight: 700;
  font-size: 2.7em;
  z-index: 10;
}
.secondItem > .images {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 17.1%;
  border: 20px solid white;
  transform: translateX(20px) translateY(-20px);
}
.secondItem > .images > img {
  width: 195px;
}
.productData {
  position: absolute;
  padding: 0 5px;
  left: 18%;
  top: 37%;
}
.productData > h1 {
  font-size: 1.3em;
  letter-spacing: 5.6px;
}
.productData > h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 22px;
  background: #c2aa90;
  transform: translateX(-24px) translateY(10px);
  z-index: -1;
}
.productData > p {
  font-size: 0.7em;
  padding-top: 15px;
  padding-left: 130px;
  line-height: 1.5em;
  margin-bottom: 15px;
}
.productData > a {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 0.6em;
  padding-left: 130px;
  line-height: 1.5em;
  color: var(--logoColor);
}
.productData > a > span {
  font-size: 0.9em;
  font-weight: bold;
}

.thirditem {
  position: relative;
  width: 100%;
  height: 310px;
}
.thirditem::before {
  content: "03";
  position: absolute;
  right: 15%;
  bottom: 20%;
  letter-spacing: 12px;
  font-weight: 700;
  font-size: 2.7em;
  z-index: 10;
}
.thirditem > .imagebox {
  display: flex;
  gap: 14px;
  position: absolute;
  bottom: 5px;
  left: 19.2%;
  border: 10px solid white;
  z-index: 10;
}
.thirditem > .imagebox > img {
  height: 250px;
}
.productData2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 16.5%;
  top: 18.5%;
}
.productData2 > h1 {
  font-size: 1.3em;
  letter-spacing: 3.9px;
  margin-right: 50px;
  margin-bottom: 22px;
}
.productData2 > p {
  font-size: 0.575em;
  text-align: right;
  line-height: 15px;
  margin-bottom: 18px;
}
.productData2 > a {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 0.6em;
  padding-left: 10px;
  line-height: 1.5em;
  color: var(--logoColor);
  width: 100%;
}
.productData2 > a > span {
  font-size: 0.8em;
  font-weight: bold;
}
.fourthitem {
  position: relative;
  height: 190px;
}
.fourthitem > img {
  position: absolute;
  height: 265px;
  right: 18%;
  bottom: 0;
  z-index: -1;
}
.fourthitem > p {
  position: absolute;
  left: 24%;
  top: 23%;
  color: var(--background);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
  font-weight: 800;
  letter-spacing: 18px;
  font-size: 2.4em;
}
.items {
  display: flex;
  align-items: center;
  height: 200px;
  padding-left: 4.2%;
  gap: 2.23%;
}
.items > .itemBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.items > .itemBox:hover::before {
  content: "➕";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.items > .itemBox > img {
  height: 100%;
}
/* Tanner collections */

@media only screen and (max-width: 600px) {
  nav > .logo {
    top: -70px;
    left: -52px;
    scale: 0.3;
  }
  nav {
    height: 30px;
  }
  nav > div > a {
    font-size: 0.1em;
  }
  nav > .siteMover,
  .windowNav {
    display: none;
  }
  section {
    height: 190px;
  }
  .hero {
    height: 160px;
  }
  .hero > div {
    scale: 0.4;
    position: absolute;
    left: -10%;
  }
  .hero > div > h1 {
    margin-bottom: 20px;
  }
  .productSample > img {
    top: 15%;
  }
  .productSample > .dataBox {
    transform: translateY(-20%);
    height: 60%;
  }
  .productSample1 > .dataBox > div:nth-child(2) {
    transform: translateX(5%);
    border-radius: 10px;
    background: var(--background);
    font-size: 0.3em;
    padding: 10px;
    width: 60%;
  }
  .productSample2 > .dataBox > div:nth-child(1) {
    transform: translateX(5%);
    border-radius: 10px;
    background: var(--background);
    font-size: 0.3em;
    padding: 10px;
    width: 60%;
    overflow: hidden;
  }
  .productSample1 > .dataBox > div:nth-child(1) {
    font-size: 0.9em;
  }
  .productSample2 > .dataBox > div:nth-child(2) {
    font-size: 0.8em;
  }
  .productSample2::before,
  .productSample1::before {
    border: 0px solid var(--logoColor);
  }
  .downArrow {
    display: none;
  }
}

footer {
  display: flex;
  background: #e4e4e4;
  height: 158px;
}
footer > * {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 0.8em;
  padding: 20px 0;
}
footer a {
  color: #030303;
}
footer > div:nth-child(1) {
  width: 18%;
  font-size: 0.6em;
}
footer > div:nth-child(1) > .logoBox > img {
  height: 62px;
}
footer > div:nth-child(2) {
  width: 42%;
  padding-top: 35px;
}
footer > div:nth-child(2) > div:first-child {
  display: flex;
  font-weight: 600;
  gap: 20%;
  transform: translateX(-25%);
}
footer > div:nth-child(2) > div:last-child {
  display: flex;
  gap: 20%;
  transform: translateX(-5%);
}
footer > div:nth-child(3) {
  width: 28%;
  padding-bottom: 50px;
  padding-left: 50px;
  font-size: 0.7em;
  align-items: flex-start;
  justify-content: center;
}
footer > div:nth-child(4) {
  align-items: flex-start;
  justify-content: center;
  width: 20%;
}
footer > div:nth-child(4) > p {
  font-size: 0.75em;
  margin-top: 15px;
}

footer > div:nth-child(4) > div {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  height: 30px;
}
footer > div:nth-child(4) > div > button {
  background: #161616;
  width: 30px;
}
footer > div:nth-child(4) > div > button > span {
  font-size: 0.8em;
  color: #e4e4e4;
}
